# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# LangGraph
.langgraph_api/

# Python
**/__pycache__/
*.egg-info/

# Unsloth
**/unsloth_compiled_cache/

# VSCode
**/.vscode/

# HuggingFace
**/.cache/

# RAG index
vectorstore/*
!vectorstore/.gitkeep

# Data
# 1. Ignore everything under any data folder
**/data/*

# 2. But do NOT ignore the specific subdirectories themselves
!**/data/sources/

# 3. Finally, do NOT ignore the contents inside those subdirectories
!**/data/sources/**

# UI / node_modules
**/node_modules/**