# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# LangGraph
.langgraph_api/

# Python
**/__pycache__/
*.egg-info/

# Unsloth
**/unsloth_compiled_cache/

# VSCode
**/.vscode/

# HuggingFace
**/.cache/

# RAG index
vectorstore/*
!vectorstore/.gitkeep

# Data
**/data/*
!data/.gitkeep